<nav class="main-nav">
    {% if page.url != "/" %}
        <a href="{{ site.baseurl }}"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Home </a>
    {% endif %}

    {% if page.url != "/about/" %}
        <a href="{{ site.baseurl }}about"><i class="fa fa-cog" aria-hidden="true"></i> About </a>
    {% endif %}
    <a class="cta" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Subscribe </a>
    <a href="{  { site.baseurl }}feed.xml"><i class="fa fa-rss" aria-hidden="true"></i> RSS </a>
</nav>