<nav class="main-nav">
    {% if page.url != "/" %}
        <a href="{{ site.baseurl }}"> <i class="fa fa-arrow-left" aria-hidden="true"></i> Home </a>
    {% endif %}

    {% if page.url != "/about/" %}
        <a href="{{ site.baseurl }}about"><i class="fa fa-cog" aria-hidden="true"></i> About </a>
    {% endif %}
    <a class="cta" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Subscribe </a>
    <a href="{  { site.baseurl }}feed.xml"><i class="fa fa-rss" aria-hidden="true"></i> RSS </a>
</nav>
<!-- Page title -->
<h1 align="center" style="color:rgb(103, 65, 114)"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i> maasproductions </h1>
<!-- Post title -->
<span><h1 style="color:rgb(150,40,27)">{{ post.title }}</h1><h2><i class="fa fa-commenting-o"></i>{{ post.description }}</h2></span>